.fk0it80 {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    margin: 1rem;
    overflow: hidden;
    text-align: center;
}
.fk0it81 {
    -o-object-fit: cover;
    object-fit: cover;
}
.fk0it82 {
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
}
.i2mzpj0 {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.i2mzpj1 {
    font-size: 24px;
    text-align: center;
}
